.pink{
    color: black;
    background-color: salmon;
    font-size: 18px;
    font-family: verdana, "DejaVu Sans", sans-serif;
}

.pink.large, #num4 {
    font-size: 24px;
}

#num2 {
    color: blue;
    font-size: 36px;
    font-family: verdana, "DejaVu Sans", sans-serif;
}

#num4 {
    color: black;
    background-color: green;
    font-weight: bold;
    font-family: verdana, "DejaVu Sans", sans-serif;
}